
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
     -webkit-appearance:none;
      margin: 0;
}
body{
    background-image:url(./4k-programming-laptop-with-coffee-plxtt5pucpigt4i7.jpg);
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
}
#verification{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container{
 background-color: cornflowerblue;
 box-shadow: 10px 10px 5px rgb(87, 77, 230) inset;
 box-shadow: 7px 8px rgb(213, 100, 235);
 /* box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px; */
  width: 40%;
 margin-top: 50vh; 
 /* margin-bottom: 50vh; */
margin: 160px auto;
border: 2px solid #333;
padding: 30px 50px;
border-radius: 20px;
text-align: center;
}

.container p{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom:30px;
}
.container:hover{
    background-color:darkgreen;
}
.otp-div{
    display: flex;
    gap: 12px;
    width: 80%;
    margin: auto;
}
.otp-div:hover{
    box-shadow: 10px 17px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 17px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 17px 5px -10px rgba(0,0,0,0.75);
    cursor:pointer;
}
.otp{
    height: 50px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #fff;
    margin-top: 30px;
    
}
button{
    border-radius: 7px;
    background-color: bisque;
}
/* button:hover{ */
    
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
    

.valid{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and(min-width:500px)and(max-width:900px){
.container{
    width: 70%;
 }
}
@media screen and(min-width:200px)and(max-width:800px){
    .container{
    width: 90%;
    padding: 25px;
}    
.otp-div{
    width:95%;
}
}